<p id="notice"><%= notice %></p>

<p>
</p>
<h1>Items</h1>

  <strong>List created by:</strong>
  <%= @shopping_list.user.profile.first_name %>
<table>
  <thead>
  <h1>Trundler</h1>
    <tr>
      <h2><th>Shopping list</th></h2>
      <h3><th>Name</th></h3>
      <h3><th>ITEM ID</th></h3>
      <h3><th colspan="3"></th></h3>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.shopping_list_id %></td>
        <td><%= item.name %></td>
        <td><%= item.id %></td>
        <td><% if policy(@shopping_list).update? %>
          <%= link_to 'Destroy item', shopping_list_item_path(item, id: item.id, shopping_list_id: @shopping_list.id, format: 'html'), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %></td>
      </tr>
    <% end %>
    <td><% if policy(@shopping_list).destroy? %>
        <td><%= link_to 'Destroy Shopping List', @shopping_list, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
  </tbody>
</table>

<br>

<%= form_with model: [@shopping_list, @item], url: shopping_list_items_path(@shopping_list.id), local: true, method: :post do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if policy(@shopping_list).create? %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <%= form.hidden_field :shopping_list_id, value: @shopping_list.id %>
    <div class="actions">
      <%= form.submit :class => 'button'%>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back', shopping_lists_path, class: 'button' %>
