<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shopping_list.user %>
</p>

<p>
  <strong>Item limit:</strong>
  <%= @shopping_list.item_limit %>
</p>

<p>
  <strong>Delivered:</strong>
  <%= @shopping_list.delivered %>
</p>

<p>
  <strong>Delivered at:</strong>
  <%= @shopping_list.delivered_at %>
</p>

<%= link_to 'Edit', edit_shopping_list_path(@shopping_list) %> |
<%= link_to 'Back', shopping_lists_path %>
